* {
    box-sizing: border-box;
    font-family: Tahoma !important;
}

body {
    font-family: 'Segoe UI';
    font-size: 25px;
    background-color: #eae6e6;
}

.forgot-pass {
  margin-right: 0px;
  margin-bottom: 100px;
}

.forgot-pass a {
  text-decoration: none;
}

p {
  text-align: center;
  margin-left: -700px;
  margin-top: 270px;
  font-size: 20px;
  line-height: 1.5;
}

#left-form{
  top: 20px;
  left: 600px;
}

.last-line {
  font-size: 25px;
  color: #a75d00;
}


.form input {
    min-width: 400px;
    display: block;
    margin: 20px;
    padding: 15px 20px;
    background-color: #ece7e7;
    font-size: 20px;
    border: none;
    outline: none;
    font-size: 22px;
    box-shadow: 15px 15px 25px #a8a8a8;
    transition: box-shadow 0.5s;
}

.form input:focus {
    box-shadow: 5px 5px 15px #a8a8a8;
}

.form .btn {
    margin: auto;
    padding: 10px 35px;
    background-color: #f1a566;
    color: #fff;
    border: none;
    font-size: 22px;
    border-radius: 10px;
    box-shadow: 15px 15px 25px #a8a8a8;
    transition: box-shadow 0.5s;
    outline: none;
}

.form .btn:hover {
    box-shadow: 5px 5px 15px #aaa;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 50vh;
    width: 50vw;
    position: absolute;
    bottom: 0px;
    font-size: 35px;
    left: -1700px;
}


.left-section .cover {
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.left-section .cover-hide {
    visibility: hidden;
}

.left-section .form-hide {
    visibility: hidden;
}

.fade-in-element {
    animation-name: fade-in-element;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes fade-in-element {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@media (max-width:2000px) {
  .bank{
    top: 150px;
    }

    p {
      text-align: center;
      font-size: 20px;
      top: 60px;
      left: 740px;
      line-height: 1.5;
      position: fixed;
    }

    .form input {
        min-width: 400px;
        display: block;
        margin: 20px;
        padding: 15px 20px;
        background-color: #ece7e7;
        font-size: 20px;
        border: none;
        outline: none;
        font-size: 22px;
        box-shadow: 15px 15px 25px #a8a8a8;
        transition: box-shadow 0.5s;
    }

    .form {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 50vh;
        width: 50vw;
        position: fixed;
        bottom: 0px;
        font-size: 35px;
        margin-left: 680px;
    }

    .title {
      top: 140px;
      right: 650px;
      position: fixed;
    } }

    @media (max-width:2500px) {
      .bank{
        top: 150px;
        }

        p {
          text-align: center;
          font-size: 20px;
          top: 60px;
          left: 740px;
          line-height: 1.5;
          position: fixed;
        }

        .form input {
            min-width: 400px;
            display: block;
            margin: 20px;
            padding: 15px 20px;
            background-color: #ece7e7;
            font-size: 20px;
            border: none;
            outline: none;
            font-size: 22px;
            box-shadow: 15px 15px 25px #a8a8a8;
            transition: box-shadow 0.5s;
        }

        .form {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            height: 50vh;
            width: 50vw;
            position: fixed;
            bottom: 0px;
            font-size: 35px;
            margin-left: 680px;
        }

        .title {
          top: 140px;
          right: 650px;
          position: fixed;
        } }
